@model IEnumerable<EmployeeInformationSystem.Models.Salary>

@{
    ViewBag.Title = "Index";
}

<h2 class="alert-success text-center ">Salary Information</h2>
<div class="text-center">
    • View Model
    • Boolean Data
    • CRUD With Dropdown List
</div>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseRent)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TotalSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BasicSalary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HouseRent)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.TotalSalary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SalaryID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SalaryID })
    </td>
</tr>
}

</table>
